<nav class="navbar navbar-expand-md navbar-custom navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mx-auto order-0" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <button type="button" class="btn btn-info btn-sm" style="margin-right: 10px;">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      </button>

      <button type="button" class="btn btn-info btn-sm" style="margin-right: 10px;">
        <li class="nav-item">
          <a class="nav-link" href="/shop">
            Browse NFTs
          </a>
        </li>
      </button>

      <button type="button" class="btn btn-info btn-sm" style="margin-right: 10px;">
      <li class="nav-item">
        <a class="nav-link" href="/author">
          Sell Your NFTs
        </a>
      </li>
    </button>

    <button type="button" class="btn btn-info btn-sm" style="margin-right: 10px;">
      <li class="nav-item">
        <a class="nav-link" href="">
          Learn NFT Technology
        </a>
      </li>
      </button>

      <button type="button" class="btn btn-info btn-sm" style="margin-right: 10px;">
      <li class="nav-item">
        <a class="nav-link" href="">
          NFT News
        </a>
      </li>
    </button>

    </ul>
  </div>
</nav>