<!DOCTYPE html>
<html>

<head>
  <title> NFT Arena
  </title>
  

  
  <!-- style sheets and others new -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" />
  <link rel="stylesheet" href="/new/css/open-iconic-bootstrap.min.css" />
        <link rel="stylesheet" href="/new/css/animate.css" />
        <link rel="stylesheet" href="/new/css/owl.carousel.min.css" />
        <link rel="stylesheet" href="/new/css/owl.theme.default.min.css" />
        <link rel="stylesheet" href="/new/css/magnific-popup.css" />
        <link rel="stylesheet" href="/new/css/aos.css" />
        <link rel="stylesheet" href="/new/css/ionicons.min.css" />
        <link rel="stylesheet" href="/new/css/bootstrap-datepicker.css" />
        <link rel="stylesheet" href="/new/css/jquery.timepicker.css" />
        <link rel="stylesheet" href="/new/css/flaticon.css" />
        <link rel="stylesheet" href="/new/css/icomoon.css" />
        <link rel="stylesheet" href="/new/css/style.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="/new/zoom/magiczoom.css"/>
        <script type="text/javascript" src="/new/zoom/magiczoom.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/91abd10b8f.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
        
  <!-- Mapbox -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />
  
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <div class="row nav-container mx-auto">


        <div class="col-md-4 col-sm-12 col-xs-12 logo-container">
          <a href="/">
            <img class="logo-img img-fluid" style="margin-right:3px;" src="/images/logo.png" alt="logo" />
            <h4 style="margin-top: 15px; margin-left: 5px;" class="logo-title">NFT Arena</h4>
          </a>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="search-container">
            <form class="form-inline" action="/products/search" method="GET">
              <input class="search-input" type="search" placeholder="Search" name="search" />
            </form>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 right-nav">
          <ul>
            <ul>
              <li>
                <a href="/wishlist">
                  <i class="fas fa-heart" style="font-size: 20px;"></i>
                  <span class="badge badge-pill badge-info">
                    <% if(typeof userData!=='undefined' ) { %>
                      <%= userData.wishlist.item.length %>
                      <% } else {%>
                    0
                  <% }%>
                  </span>
                </a>
              </li>
              <li>
                <a href="/cart">
                  <i class="fa fa-shopping-cart fa-2x" style="font-size: 20px;"></i>
                  <span class="badge badge-pill badge-info">
                    <% if(typeof userData==='undefined' ) { %>
                      0
                      <% } else {%>
                    <%= userData.cart.item.length %>
                  <% }%>

                  </span>
                </a>
              </li>

              <% if(typeof userData==='undefined' ) { %>

                <li>
                  <a href="/register"> 
                    <button type="button" class="btn btn-outline-secondary">
                      Sign Up
                    </button>
                  </a>
                </li>
                <li>
                  <a href="/login"> 
                    <button type="button" class="btn btn-outline-secondary">
                      Sign In
                    </button>
                  </a>
                </li>

                <% } else {%>

                  <li>
                    
                    <button type="button" class="btn btn-outline-secondary">
                      <a href="/profile"> 
                        My Account
                      </button></a>
                      
                      <button type="button" class="btn btn-outline-secondary">
                      <a href="/logout">Logout</a></button>
                  </li>


                  <% }%>

            </ul>
        </div>
      </div>

