<%- include('../partials/header') %>
<!-- navbar -->
<%- include('../partials/categories-navbar') %>

<div class="container">
  <div class="row">
    <div class="col-md-5 m-auto">
      <h1 class="mt-4 mb-4">Password Changed Successfully.</h1>

      <br>
	  <p>
        <a href="/login">
            <button type="button" class="btn btn-primary btn-sm button-style">
              Login Now
            </button>
          </a>

        </p>
		
      
      
    </div>
  </div>
</div>

<%- include('../partials/footer') %>

