<%- include('../partials/header') %>
<!-- navbar -->
<%- include('../partials/categories-navbar') %>

<div class="container">
  <!-- Flash messages -->
      
  <!-- User's orders -->
  <div class="row mt-4">
    <div class="col-md-8 m-auto">
        <h3 class="text-center" >You have not made any orders yet</h3>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>