<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="template" content="greeny">
  <meta name="title" content="NFT Arena - The largest NFT Selling Platform! ">
  <meta name="keywords" content="nft, nft sell, nft buy, nft arena">
  <title>Register - NFT Arena</title>
  <link rel="icon" href="/static/images/favicon.svg">
  <link rel="stylesheet" href="/static/fonts/flaticon/flaticon.css">
  <link rel="stylesheet" href="/static/fonts/icofont/icofont.min.css">
  <link rel="stylesheet" href="/static/fonts/fontawesome/fontawesome.min.css">
  <link rel="stylesheet" href="/static/vendor/venobox/venobox.min.css">
  <link rel="stylesheet" href="/static/vendor/slickslider/slick.min.css">
  <link rel="stylesheet" href="/static/vendor/niceselect/nice-select.min.css">
  <link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/user-auth.css">
</head>

<body>
  <section class="user-form-part">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8">
          <div class="user-form-logo"><a href="/home"><img src="/static/images/logoFooter.png" alt="logo"></a></div>
          <div class="user-form-card">
            <div class="user-form-title">
              <h2>Join Now</h2>
              <p>Setup A New Account In A Minute</p>
            </div>
            <div class="user-form-group">
              <form class="user-form" id="register-form" action="" method="post">
                <div class="form-group">
                  <input type="text" name="name" id="reg-name" class="form-control" placeholder="Enter your name"
                    required>
                </div>
                <div class="form-group">
                  <input type="email" name="email" id="reg-email" class="form-control" placeholder="Enter your email"
                    required>
                </div>
                <div class="form-group">
                  <input type="number" name="mobile" id="mobile" class="form-control"
                    placeholder="Enter your 10 digit Mobile Number" required>
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="password" class="form-control"
                    placeholder="Enter your password" required>
                </div>
                <div class="form-group">
                  <input type="password" name="password2" id="password2" class="form-control"
                    placeholder="Re-Enter password" required>
                </div>
                <% if(typeof message !=='undefined' ) {%>
                  <p class="text-danger text-center mt-2" id="err-msg">
                    <%= message %>
                  </p>
                  <%}%>
                    <div class="form-check mb-3">
                      <input class="form-check-input" type="checkbox" value="" id="check" required>
                      <label class="form-check-label" for="check">Accept all the <a href="#">Terms &
                          Conditions</a></label>
                    </div>
                    <div class="form-button">
                      <button type="submit">register</button>
                    </div>
              </form>
            </div>
          </div>
          <div class="user-form-remind">
            <p>Already Have An Account?<a href="/login">login here</a></p>
          </div>
          <div class="user-form-footer">
            <p>NFT Arena | &COPY; Copyright 2023</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.getElementById("mobile").addEventListener("input", function () {
      var mobilenumber = document.getElementById("mobile").value;
      // console.log(mobilenumber)
      if (mobilenumber.trim().length < 10) {
        document.getElementById("mobile").setCustomValidity("Mobile Digits less than 10");
        console.log("less than 10")
      } else if (mobilenumber.trim().length > 10) {
        document.getElementById("mobile").setCustomValidity("Mobile Digits greater than 10");
      } else {
        document.getElementById("mobile").setCustomValidity("");
      }
    });

    document.getElementById("password2").addEventListener("input", function () {
      // console.log("password2")
      var password = document.getElementById("password").value;
      var password2 = document.getElementById("password2").value;
      if (password === password2 && password.length >= 6) {
        document.getElementById("password2").setCustomValidity("");
      } else {
        document.getElementById("password2").setCustomValidity("Passwords do not match or are too short.");
      }
    });

    document.getElementById("password").addEventListener("input", function () {
      // console.log("password1")
      var password = document.getElementById("password").value;
      var password2 = document.getElementById("password2").value;
      if (password === password2 && password.length >= 6) {
        document.getElementById("password2").setCustomValidity("");
      } else {
        document.getElementById("password2").setCustomValidity("Passwords do not match or are too short.");
      }
    });


  </script>
  <script src="/static/vendor/bootstrap/jquery-1.12.4.min.js"></script>
  <script src="/static/vendor/bootstrap/popper.min.js"></script>
  <script src="/static/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/static/vendor/countdown/countdown.min.js"></script>
  <script src="/static/vendor/niceselect/nice-select.min.js"></script>
  <script src="/static/vendor/slickslider/slick.min.js"></script>
  <script src="/static/vendor/venobox/venobox.min.js"></script>
  <script src="/static/js/nice-select.js"></script>
  <script src="/static/js/countdown.js"></script>
  <script src="/static/js/accordion.js"></script>
  <script src="/static/js/venobox.js"></script>
  <script src="/static/js/slick.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/form-register.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"
    integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/static/vendor/swal/sweetalert2.all.min.js"></script>

</body>

</html>